body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #000; /* Black background */
    color: #fff; /* White text for contrast */
    text-align: left; /* Align text to the left */
}

header {
    position: relative;
    color: #fff;
    padding: 60px 20px;
    background-image: linear-gradient(to bottom, #6a3093 0%, #a044ff 100%);
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    overflow: hidden;
}

header h1, header p {
    color: #fff;
}

header h1 {
    margin: 0;
    font-weight: 900;
    font-size: 3rem;
    display: inline-block;
}

header p {
    font-weight: 400;
    margin: 10px 0 0;
}

main {
    display: block; /* Use block layout instead of flex */
    overflow-x: hidden; /* Disable horizontal scrolling */
    overflow-y: auto; /* Enable vertical scrolling if necessary */
    padding: 20px;
}

section {
    width: auto; /* Adjust width based on content */
    margin-right: auto; /* Align section to the left */
    margin-left: 0; /* Ensure it sticks to the left */
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    transition: transform 0.5s ease, opacity 1s ease-in-out, box-shadow 0.5s ease;
    transform-style: preserve-3d;
    scroll-snap-align: none; /* Disable snap align as it's no longer a horizontally scrolling layout */
    height: auto; /* Adjust height based on content */
    min-height: 100vh; /* Minimum height to fill the screen */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0.2;
}

h2 {
    font-weight: 900;
    color: #a044ff;
    margin-bottom: 15px;
}

.skills-container, .skill-category {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    background: #262626;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease-in-out;
}

.skill-category:hover {
    background: #333;
}

.skill-category h3 {
    margin-top: 0;
    color: #fff;
    font-weight: 600;
}

.skill-category h3 i {
    margin-right: 10px;
    color: #a044ff;
}

.skill-category p, a {
    margin: 10px 0 0;
    color: #a044ff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #dab6ff;
    text-decoration: underline;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    section {
        padding: 20px;
    }
}

#typed-name:after {
    content: '|';
    animation: blink 1s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

.wave-container, .waves, .parallax > use {
    position: absolute;
    width: 100%;
    min-height: 100px;
    max-height: 150px;
    z-index: -1;
    fill: rgba(255,255,255,0.2);
}

@keyframes moveForever {
    0% { transform: translate3d(-90px, 0, 0); }
    100% { transform: translate3d(85px, 0, 0); }
}
